.inp{
    width:1000px;
    padding:10px;
    margin-top: 500px;
    border-radius:20px;
    bottom: 0;
    margin-right: 100px;
}
.btn{
    padding: 5px;
    width:100px;
    border-radius: 5px;
    font-size: 20px;
    bottom: 0;
    float:center;
}
.text{
    color:red;
}